
<form [formGroup]="resizeForm">
	<mat-form-field appearance="outline" class="leftMargin">
		<mat-label>Difficulty (2-10)</mat-label>
		<input matInput  formControlName="row"  type="number" id="row" min=2 max=10>
	</mat-form-field>
	<button class="leftMargin" mat-raised-button type="button" (click)="startGame()">Start</button>
	<span class="leftMargin">Time Spent: {{ ticks }}        </span>
	<span class="leftMargin">  Steps : {{steps/2}}</span>
</form>
<div class="boardHolder">
	<gridster [options]="options">
		<gridster-item [item]="item" *ngFor="let item of dashboard" [ngStyle]="{'background-image':'url(' + imageUrl + ') ','background-repeat':'no-repeat', 'background-position': '' + item.image.x_pos + ' '  + item.image.y_pos + '','background-size':''+ (gridsize * 100) +'% '+ (gridsize * 100) +'%'}">
		</gridster-item>
	</gridster>
</div>
