<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>If you tell me your name I can put it to the scoreBoard</p>
  <p class="scoreHolder" *ngFor="let key of objectKeys(data.score)">{{key + ' : '}}<span class="floatRight">{{data.score[key]}}</span> </p>
  <mat-form-field>
    <label><small>Name:</small></label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div>