@media all and (orientation:portrait) {
    .field{
    width:8vw;
    height:8vw;
    font-size:6vw;
    text-align: center;
    color:grey;
    }
}
@media all and (orientation:landscape) {
    .field{
        width:6vh;
        height:6vh;
        font-size:5vh;
        text-align: center;
        color:grey;
    }
    
}

.infoTab{
    margin-top:1.5rem; 
}
.field[readonly]{
    font-weight: 600;
    color:black;
}

.row{
    display:flex;
}
.row:first-child .fieldHolder{
    border-top: 2px solid black; 
}
.row .col:first-child .fieldHolder{
    border-left:2px solid black;
}
.row:nth-child(3n) .fieldHolder{
    border-bottom: 2px solid black; 
}
.col:nth-child(3n) .fieldHolder{
    border-right:2px solid black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fieldInError{
    color:red
}

/* .board, h1{
    margin-left:2rem;
} */

