.field{
    width:3rem;
    height:3rem;
    font-size:2rem;
    text-align: center;
    color:grey;
}
.field[readonly]{
    font-weight: 600;
    color:black;
}

.row{
    display:flex;
}
.row:first-child .fieldHolder{
    border-top: 2px solid black; 
}
.row .col:first-child .fieldHolder{
    border-left:2px solid black;
}
.row:nth-child(3n) .fieldHolder{
    border-bottom: 2px solid black; 
}
.col:nth-child(3n) .fieldHolder{
    border-right:2px solid black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fieldInError{
    color:red
}

.board, h1{
    margin-left:2rem;
}

.infoTab{
    text-align: center;
    width: 33.7rem;
    margin-top:1.5rem;
}