<mat-card>
  <h2 class="heading"> Upoad New Files</h2>
  <form [formGroup]="uploadForm">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <p>Original</p>
        <ng-template [ngIf]="this.thumbnailReady">
          <img [src]="thumbnailUrl" height="100px" (click)="originalFile.click()">
        </ng-template>
        <ng-template [ngIf]="!this.thumbnailReady">
          <button mat-raised-button color="primary" (click)="originalFile.click()">Upload</button>
        </ng-template>
        <input  formControlName="original" hidden type="file" #originalFile (change)="handleFilesOriginal($event)" single>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>Edited</p>
        <button mat-raised-button color="primary" (click)="editedFile.click()">Upload</button>
        <input  formControlName="edited" hidden type="file" #editedFile (change)="handleFilesEdited($event)" single>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field>
      <input  formControlName="caption" matInput placeholder="Caption" >
    </mat-form-field>
    <div>
      <label>Already used filters</label>
      <mat-chip-list>
        <mat-chip *ngFor="let filter of allFilters" (click)="addFromAll(filter)">{{filter.name}}</mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-chip-list #chipList formControlName="filters" >
          <mat-chip *ngFor="let filter of uploadForm.get('filters').value; let i = index;" [removable]="removable" (removed)="remove(filter)">
            {{filter}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input  
                [matChipInputFor]="chipList" 
                placeholder="Filter" 
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" 
                (matChipInputTokenEnd)="add($event)">
      </mat-form-field>
    </div>
    <div *ngIf="upload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
      </div>
      <!-- Progress: {{upload?.progress|async}}% Completed -->
      Progress: {{upload?.progress}}% Completed
    </div>
    <button mat-raised-button (click)="uploadFiles()" >Upload
      Images</button>
      <!-- disabled="!(this.fileOriginal&&this.caption.length&&this.filters.length)" -->
  </form>

</mat-card>


<!-- 
  <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <p>Original</p>
        <button mat-raised-button color="primary" (click)="originalFile.click()">Upload</button>
        <input hidden type="file" #originalFile (change)="handleFilesOriginal($event)" single>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>Edited</p>
        <button mat-raised-button color="primary" (click)="editedFile.click()">Upload</button>
        <input hidden type="file" #editedFile (change)="handleFilesEdited($event)" single>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field>
      <input matInput placeholder="Caption" [(ngModel)]="caption">
    </mat-form-field>
    <div>
      <label>Already used filters</label>
      <mat-chip-list>
        <mat-chip *ngFor="let filter of allFilters" (click)="addFromAll(filter)">{{filter.name}}</mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let filter of filters" [removable]="removable" (removed)="remove(filter)">
            {{filter.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input [matChipInputFor]="chipList" placeholder="Filter" [(ngModel)]="filter" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-form-field>
    </div>
    <div *ngIf="upload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
      </div>
      Progress: {{upload?.progress|async}}% Completed
      Progress: {{upload?.progress}}% Completed
    </div>
    <button mat-raised-button (click)="uploadFiles()" disabled="!(this.fileOriginal&&this.caption.length&&this.filters.length)">Upload
      Images</button>
 -->