<mat-card>
    <mat-card-title> Upoad New Files
</mat-card-title>
  <form [formGroup]="uploadForm">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <p>Original</p>
        <ng-template [ngIf]="this.thumbnailReady">
          <img [src]="thumbnailUrl" height="100px" (click)="originalFile.click()">
        </ng-template>
        <ng-template [ngIf]="!this.thumbnailReady">
          <button mat-raised-button color="primary" (click)="originalFile.click()">Upload</button>
        </ng-template>
        <input formControlName="original" hidden type="file" #originalFile (change)="handleFilesOriginal($event)" single>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>Edited</p>
        <ng-template [ngIf]="this.thumbnailEditedReady">
          <img [src]="thumbnailEditedUrl" height="100px" (click)="editedFile.click()">
        </ng-template>
        <ng-template [ngIf]="!this.thumbnailEditedReady">
          <button mat-raised-button color="primary" (click)="editedFile.click()">Upload</button>
        </ng-template>
        <input  formControlName="edited" hidden type="file" #editedFile (change)="handleFilesEdited($event)" single>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field>
      <input  formControlName="caption" matInput placeholder="Caption" >
    </mat-form-field>
    <div>
      <label>Already used filters</label>
      <mat-chip-list>
        <mat-chip *ngFor="let filter of allFilters" (click)="addFromAll(filter)">{{filter.name}}</mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-chip-list #chipList formControlName="filters" >
          <mat-chip *ngFor="let filter of uploadForm.get('filters').value; let i = index;" [removable]="removable" (removed)="remove(filter)">
            {{filter}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input
                [matChipInputFor]="chipList"
                placeholder="Filter"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
      </mat-form-field>
    </div>
    <div *ngIf="uploadInProgress" >
      <div class="progress">
        <mat-progress-bar mode="determinate"  [value]="this.uploadService?.uploadPercent"></mat-progress-bar>
      </div>
      Progress: {{this.uploadService?.uploadPercent| number:'1.0-2'}}% Completed
    </div>
    <div matTooltip="Just a really special person can upload files" class="uploadHolder">
      <button mat-raised-button [disabled]='!uploadForm.valid'  (click)="uploadFiles()" >Upload Images</button>
    </div>
  </form>
</mat-card>
