<h2>Recent Photos </h2>
<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
<div>
  
  <div>
    <button  *ngFor="let f of this.filters" type="button" (click)="filter(f.name)">{{f.name}}</button>   
  </div>
  
  <button mat-button (click)="openLogin()">
    Login
  </button>
</div>

<!-- <button class="btn btn-lg btn-info" type=button [class.active]="filterBy=='all'" (click)="filterBy='all'">all</button>
<button class="btn btn-lg btn-info" type=button [class.active]="filterBy=='nature'" (click)="filterBy='nature'">nature</button>
<button class="btn btn-lg btn-info" type=button [class.active]="filterBy=='viking'" (click)="filterBy='viking'">viking</button>
<div class="row">
  <ul id="thumbnailsList">
    <li *ngFor="let img of this.images"> 
      <a [routerLink] = "['/image',img.key ]">
        <img src="{{img.url}}" class="thumbnails" width="270" height="200">
      </a>
    </li>
  </ul>
</div> -->