<mat-card class="galleryCard">
  <mat-card-title>
    Recent Photos 
  </mat-card-title>
  <mat-card-content>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    <div class="filterButtonRow">
      <button mat-flat-button color="primary"  *ngFor="let f of this.filters" type="button" (click)="filter(f.name)">{{f.name}}</button>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <div>
      <button mat-raised-button
      matTooltip="Just a really special person can log in"
      color="accent"
      (click)="openLogin()">Login</button>
    </div>
  </mat-card-actions>
</mat-card>
