.filterButtonRow button{
  margin-right:5px;
  margin-bottom:5px;
}
.flexEnd{
  display:flex;
  justify-content: flex-end;
  margin-left: auto;
}
.flexStart{
  justify-content: flex-start;
}
/* .galleryCard{
  height:calc(100% - 78px);
} */
.buttonMargin{
  margin-bottom: 6px;
}
