<div class="container">
  <form #loginForm="ngForm">
    <h2>LOGIN</h2>
    <div class="formgroup">
      <label> Email</label>
      <input class="form-control" 
      #emailControl="ngModel" 
      placeholder="Email"
       [(ngModel)]="email" 
       name="email"
        maxlength="70" 
        email 
        required>
    </div>
    <div class="formgroup">
      <label> Password</label>
      <input class="form-control" 
      #passwordControl="ngModel" 
      placeholder="Password"
      [(ngModel)]="password" 
      name="password" 
      maxlength="70"  
      type="password" 
      required>
    </div>
    <button [disabled] = "!loginForm.form.valid" type="submit" class="btn btn-info" (click) ="signIn()"> Sign In</button>
    <p *ngIf="errorMsg" class="text-danger">{{errorMsg}}</p>
  </form>
</div>