<p>
  open the menu for my projects
</p>


<div class="links">
  <ul>
    <li>
      <a href="https://github.com/GaryBirges/Folio"><img src="./assets/GitHub-Mark-64px.png"></a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/9945674/garyb"><img src="./assets/so-icon.png"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gergö-b-b81150138/"><img src="./assets/LI-In-Bug.png"></a>
    </li>
    <li class="cv">
      <a href="https://docs.google.com/document/d/1QW7XIa2l64SuegoCcjKQhT4zCJhLTOwBg5AyjkJaknE/export?format=pdf" ><span>CV</span> <span>&#x21e9;</span>
      </a>
    </li>
  </ul>
</div>

