.grid {
    display: grid;
    grid-template-columns: 320px 200px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    border: solid 2px;
  }

  .tetrisCard{
    max-width: 450px;
    margin-top: 5px;
    margin-left: 5px;
  }
  @media only screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 260px 200px;
    }
    h1{
      font-size: 15px;
    }
  }
