.image-slider {
  position: relative;
  display: inline-block;
}

.image-slider > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}



.image-slider img {
  display: block;
   user-select: none; 
   box-sizing: border-box; 
}


.image-slider input {
  margin: 0;
  position: absolute;
  top: 0;
  left: -4%;
  bottom: 10px;
  height: 100%;
  width: 108%;
  background: transparent;
  outline:none;
}

.image-slider input::before {
  content: '';
  height: 100%;
  width: 5px;
  background: white;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 1em;
  height: 1em;
  border:  1px solid antiquewhite;
  border-radius: 50%;
  background: aliceblue;
  padding: 1em 1em;
  cursor: ew-resize;
}

#top-image {
  border-right: 2px solid antiquewhite;
}
