
<h1 mat-dialog-title>Compare Images</h1>
<div mat-dialog-content>

  <!-- <div class="img-comp-container">
    <div class="img-comp-img">
      <img [src]="this.data.image.url" width="300" height="200">
    </div>
    <div class="img-comp-img img-comp-overlay">
      <img [src]="this.data.toCompare.url" width="300" height="200">
    </div>
  </div> -->
  <form [formGroup]="rangeForm">
    <div class="image-slider">
      <div id="top-image" [style.width]="this.width">
        <img [src]="this.data.image.url" width="300" height="200" alt="After" />
      </div>
      <img [src]="this.data.toCompare.url" width="300" height="200" alt="Before" />
      
      <input formControlName="slider" id="range-input" type="range" />
    </div>
  </form>

</div>
<div mat-dialog-actions>
</div>
