<!-- <p>
  home works!
</p> -->
<!-- <div>
  <mat-drawer-container class="home-container" [hasBackdrop]="true">
    <mat-drawer class="sidenav" #drawer [mode]="over">
      
      <div>
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <p>
        I'm a drawer
      </p>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary" class="toolbar">
          <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
          <h1 class="example-app-name">I want to play a game</h1>
        </mat-toolbar>
    </mat-drawer-content>
  </mat-drawer-container>
</div> -->
<div class="home-container" [class.home-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle(); active()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Responsive App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav  #snav 
                    [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" 
                    fixedTopGap="56">
        <mat-nav-list>
          <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
          <a mat-list-item routerLink="/puzzle">puzzle</a>
          <!-- <a mat-list-item routerLink="/puzzle2">puzzle2</a> -->
          <a mat-list-item routerLink="/snake">snake</a>
          <a mat-list-item routerLink="/pong">pong</a>
          <a mat-list-item routerLink="/scoreboard">Score Board</a>
          <a mat-list-item routerLink="/gallery">Gallery</a>
          <a mat-list-item routerLink="/upload">Upload</a>
        </mat-nav-list>
        <small>ver.{{this.version}}</small>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        <router-outlet></router-outlet>
        <!-- <p>
            vsdfvsdvsdvsdv
        </p> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>