
  .glitchCard{
    max-width: 800px;
      /*height added to solve mat-toolbar height issue*/
      /* height:650px; */
  }
  #bar1{
      height:15px;
      width:25px;
      background-color: brown;
  }
  #bar2{
      height:15px;
      width:25px;
      background-color: royalblue;
  }
  #bar3{
      height:15px;
      width:25px;
      background-color: teal;
  }
  #bar4{
      height:15px;
      width:25px;
      background-color: goldenrod;
  }
  #bar5{
      height:15px;
      width:25px;
      background-color: wheat;
  }
  #bar6{
      height:15px;
      width:25px;
      background-color: slateblue;
  }

  #party{
      width:640px;
      height:480px;
  }
